[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kennedy Otis (otisson)
[access "refs/for/refs/*"]
	read = group user/Kennedy Otis (otisson)
	push = group user/Kennedy Otis (otisson)
	label-Code-Review = -2..+2 group user/Kennedy Otis (otisson)
	label-Verified = -1..+1 group user/Kennedy Otis (otisson)
	rebase = group user/Kennedy Otis (otisson)
	removeReviewer = group user/Kennedy Otis (otisson)
	submit = group user/Kennedy Otis (otisson)
[access "refs/heads/*"]
	read = group user/Kennedy Otis (otisson)
	create = group user/Kennedy Otis (otisson)
	push = +force group user/Kennedy Otis (otisson)
	pushMerge = group user/Kennedy Otis (otisson)
[access "refs/tags/*"]
	push = +force group user/Kennedy Otis (otisson)
	pushTag = group user/Kennedy Otis (otisson)
	pushSignedTag = group user/Kennedy Otis (otisson)
